.nome {
    background-image: url('https://img2.gratispng.com/20180126/oyq/kisspng-light-luminous-efficacy-purple-purple-wave-lines-light-effect-5a6acccaa0e386.847302531516948682659.jpg');
    color:white;
}

.input-group{
    width:38%;

}

.centro {
    margin-left: 35%;
}

h1{
    color: white;
    margin-bottom: 5%;
}
